<h1>ログイン</h1>
<%= form_for(:session, url: login_path) do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :token %>
  <%= f.text_field :token %>
  <%= f.submit "Log in" %>
<% end %>